In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.539073 -1.403781 -0.183292 -0.492239
2013-01-02 -1.128009 -1.568468 -2.391216 -0.533559
2013-01-03  0.770616 -0.111828  0.777166  0.161550
2013-01-04 -0.646707 -0.569385 -1.037967  0.076830
2013-01-05 -2.030820  0.470622 -0.711451  1.392912
2013-01-06 -0.754418  0.846538  0.909202 -1.265850

In [27]:
df.index = [0,1,2,3,4,5]
df.sort_index(axis=1, ascending=False)

          D         C         B         A
0 -0.492239 -0.183292 -1.403781  0.539073
1 -0.533559 -2.391216 -1.568468 -1.128009
2  0.161550  0.777166 -0.111828  0.770616
3  0.076830 -1.037967 -0.569385 -0.646707
4  1.392912 -0.711451  0.470622 -2.030820
5 -1.265850  0.909202  0.846538 -0.754418

In [39]:
df['B'][df.B > 0] = 1
df

          A         B         C         D
0  0.539073 -1.403781 -0.183292 -0.492239
1 -1.128009 -1.568468 -2.391216 -0.533559
2  0.770616 -0.111828  0.777166  0.161550
3 -0.646707 -0.569385 -1.037967  0.076830
4 -2.030820  1.000000 -0.711451  1.392912
5 -0.754418  1.000000  0.909202 -1.265850

In [49]:
df.apply(lambda x: x[0] = 1)

SyntaxError: lambda cannot contain assignment (<ipython-input-49-12d12d752fdc>, line 1)

In [51]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [53]:
df["grade"] = df["raw_grade"].astype("category")
df

   id raw_grade grade
0   1         a     a
1   2         b     b
2   3         b     b
3   4         a     a
4   5         a     a
5   6         e     e

In [55]:
print df['grade']
print df['raw_grade']

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]
0    a
1    b
2    b
3    a
4    a
5    e
Name: raw_grade, dtype: object