In [1]:
import pandas as pd
from scipy import sparse
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [2]:
data_root = "~/codedata/tpai/pre"
dfTrain = pd.read_csv("%s/train.csv"%data_root)
dfTest = pd.read_csv("%s/test.csv"%data_root)
dfAd = pd.read_csv("%s/ad.csv"%data_root)

# process data
dfTrain = pd.merge(dfTrain, dfAd, on="creativeID", how='left')
dfTest = pd.merge(dfTest, dfAd, on="creativeID",how=left)
y_train = dfTrain["label"].values

In [7]:
dfTrain.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,advertiserID,appID,appPlatform
0,0,170000,NaN,3089,2798058,293,1,1,1321,83,10,434,1
1,0,170001,NaN,3089,195578,3659,0,2,1321,83,10,434,1
2,0,170014,NaN,3089,1462213,3659,0,3,1321,83,10,434,1
3,0,170030,NaN,3089,1985880,5581,1,1,1321,83,10,434,1
4,0,170047,NaN,3089,2152167,5581,1,1,1321,83,10,434,1

In [8]:
# feature engineering/encoding
enc = OneHotEncoder()
feats = ["creativeID", "adID", "camgaignID", "advertiserID", "appID", "appPlatform"]
# type(enc)
# for i,feat in enumerate(feats):
#     print (i,feat)
for i,feat in enumerate(feats):
    x_train = enc.fit_transform(dfTrain[feat].values.reshape(-1, 1))
    x_test = enc.transform(dfTest[feat].values.reshape(-1, 1))
    if i == 0:
        X_train, X_test = x_train, x_test
    else:
        X_train, X_test = sparse.hstack((X_train, x_train)), sparse.hstack((X_test, x_test))

In [11]:
print type(X_train)
print X_train.shape

<class 'scipy.sparse.coo.coo_matrix'>
(3749528, 10580)

In [12]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
proba_test = lr.predict_proba(X_test)[:,1]