In [38]:
# --coding:utf-8--
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# %matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from scipy import sparse
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import scipy as sp

def logloss(act, pred):
  epsilon = 1e-15
  pred = sp.maximum(epsilon, pred)
  pred = sp.minimum(1-epsilon, pred)
  ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
  ll = ll * -1.0/len(act)
  return ll


path = '~/codedata/tpai/pre/'
trainfile = 'train.csv'
# testfile = 'test.csv'
train = pd.read_csv(path + trainfile)

In [39]:
trainNum = 100000
train = train.sample(n=trainNum, replace = True)

In [40]:
train.drop('clickTime', axis=1,inplace=True)
train.head()

,label,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
93454,0,NaN,3981,628402,2579,2,1
2836533,0,NaN,4250,1057304,2426,2,3
2379604,0,NaN,486,303953,3322,1,2
3209815,0,NaN,2623,2324159,3322,1,1
2335688,0,NaN,3187,2623529,888,1,1

In [41]:
connection_dummy = pd.get_dummies(train['connectionType'])
connection_dummy.columns = ['0','1','2','3','4']
connection_dummy.head()

         0  1  2  3  4
93454    0  0  1  0  0
2836533  0  0  1  0  0
2379604  0  1  0  0  0
3209815  0  1  0  0  0
2335688  0  1  0  0  0

In [42]:
train = train.join(connection_dummy)
train.head()

,label,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,0,1,2,3,4
21,0,NaN,4250,2009709,2831,1,1,0,1,0,0,0
69,0,NaN,4465,1058493,3789,1,1,0,1,0,0,0
129,0,NaN,5886,362786,2150,1,1,0,1,0,0,0
193,0,NaN,3458,2031269,3322,1,0,0,1,0,0,0
215,0,NaN,5187,1622707,6936,0,3,1,0,0,0,0

In [43]:
train.drop('creativeID',axis=1,inplace=True)

In [44]:
train.drop('connectionType',axis=1,inplace=True)
train.head()

,label,conversionTime,userID,positionID,telecomsOperator,0,1,2,3,4
21,0,NaN,2009709,2831,1,0,1,0,0,0
69,0,NaN,1058493,3789,1,0,1,0,0,0
129,0,NaN,362786,2150,1,0,1,0,0,0
193,0,NaN,2031269,3322,0,0,1,0,0,0
215,0,NaN,1622707,6936,3,1,0,0,0,0

In [45]:
telecoms_dummy = pd.get_dummies(train['telecomsOperator'])
telecoms_dummy.columns = ['t0','t1','t2','t3']
# telecoms_dummy.head()
train = train.join(telecoms_dummy)
train.head()

,label,conversionTime,userID,positionID,telecomsOperator,0,1,2,3,4,t0,t1,t2,t3
21,0,NaN,2009709,2831,1,0,1,0,0,0,0,1,0,0
69,0,NaN,1058493,3789,1,0,1,0,0,0,0,1,0,0
129,0,NaN,362786,2150,1,0,1,0,0,0,0,1,0,0
193,0,NaN,2031269,3322,0,0,1,0,0,0,1,0,0,0
215,0,NaN,1622707,6936,3,1,0,0,0,0,0,0,0,1

In [46]:
train.drop('telecomsOperator', axis=1, inplace=True)
train.head()

     label  conversionTime   userID  positionID  0  1  2  3  4  t0  t1  t2  t3
21       0             NaN  2009709        2831  0  1  0  0  0   0   1   0   0
69       0             NaN  1058493        3789  0  1  0  0  0   0   1   0   0
129      0             NaN   362786        2150  0  1  0  0  0   0   1   0   0
193      0             NaN  2031269        3322  0  1  0  0  0   1   0   0   0
215      0             NaN  1622707        6936  1  0  0  0  0   0   0   0   1

In [49]:
feats = ['conversionTime', 'positionID', 'userID']
train.drop(feats, axis=1,inplace=True)
train.head()

     label  0  1  2  3  4  t0  t1  t2  t3
21       0  0  1  0  0  0   0   1   0   0
69       0  0  1  0  0  0   0   1   0   0
129      0  0  1  0  0  0   0   1   0   0
193      0  0  1  0  0  0   1   0   0   0
215      0  1  0  0  0  0   0   0   0   1

In [52]:
train.head()
# feats = ['t0','t1','t2','t3','label']
feats = ['0','1','2','3','4','label']
# train['0']
# connection_dummy['0']
X_train,X_test,Y_train,Y_test = train_test_split(train.drop(feats,axis=1), \
                            train['label'].values, train_size=0.8)
print X_train.shape
print Y_train.shape
print X_test.shape
print Y_test.shape
X_train.head()

(95729, 4)
(95729,)
(23933, 4)
(23933,)

         t0  t1  t2  t3
71117     0   0   1   0
669591    0   1   0   0
965313    0   1   0   0
2402611   0   0   0   1
3647421   0   1   0   0

In [53]:
# Random Forests  0.236746484137
random_forest = RandomForestRegressor(n_estimators=400)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
# random_forest.score(X_train, Y_train)
print logloss(Y_test, Y_pred)

0.123899858079