In [1]:
# --coding:utf-8--
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# %matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from scipy import sparse
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib
import scipy as sp
import zipfile

def logloss(act, pred):
  epsilon = 1e-15
  pred = sp.maximum(epsilon, pred)
  pred = sp.minimum(1-epsilon, pred)
  ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
  ll = ll * -1.0/len(act)
  return ll


path = '~/codedata/tpai/pre/'
trainfile = 'train.csv'
# testfile = 'test.csv'
train = pd.read_csv(path + trainfile)
# test = pd.read_csv(path + testfile)
# position = pd.read_csv(path + 'position.csv')


# 数据读取与融合 
ad = pd.read_csv(path + 'ad.csv')
appcategory = pd.read_csv(path + 'app_categories.csv')
user = pd.read_csv(path + 'user.csv')

# appId在creativeID的标号内
train = pd.merge(train, ad, on='creativeID',how='left')
train.drop('creativeID', axis=1,inplace=True)
ad = None

train = pd.merge(train, appcategory,on='appID',how='left')
train.drop('appID', axis=1,inplace=True)
appcategory = None

train = pd.merge(train, user, on = 'userID', how = 'left')
train.drop('userID', axis=1,inplace=True)
user = None

In [2]:
train['label'].value_counts()

0    3656266
1      93262
Name: label, dtype: int64

In [8]:

# 用户信息开始
# 使用userID获取到的用户信息， 
# 后面几类的概率基本相同，所以归为一类
var = 'haveBaby'
hab_columns = columns_tmp = ['hb0','hb1','hb2']
train.loc[train[var] > 2] = 2

In [9]:
train['label'].value_counts()

0    3568944
1      90364
2      90220
Name: label, dtype: int64

In [5]:
a = train.head()
a

,label,positionID,adID,camgaignID,advertiserID,appPlatform,age,gender,education,marriageStatus,...,ac4,ac5,ac6,ac7,ac8,ac9,ac10,ac11,ac12,ac13
0,0,293,1321,83,10,1,25,2,1,3,...,0,1,0,0,0,0,0,0,0,0
1,0,6161,1535,685,80,2,20,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,7434,147,460,3,1,16,1,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0,977,411,564,3,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,3688,369,144,84,1,35,1,2,2,...,0,0,1,0,0,0,0,0,0,0

In [6]:
a.loc[a['age'] > 20] = 1
a.head()

/usr/lib/python2.7/dist-packages/pandas/core/indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,label,positionID,adID,camgaignID,advertiserID,appPlatform,age,gender,education,marriageStatus,...,ac4,ac5,ac6,ac7,ac8,ac9,ac10,ac11,ac12,ac13
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,6161,1535,685,80,2,20,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,7434,147,460,3,1,16,1,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0,977,411,564,3,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1