In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# index就是label
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print ('s')
print s
print s.index
print s.values
print type(np.random.randn(5))

m = pd.Series(np.random.randn(5))
print 'm'
print m

s
a    0.138659
b   -0.572351
c    1.058889
d   -1.553026
e   -1.531044
dtype: float64
Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')
[ 0.13865925 -0.57235053  1.05888907 -1.55302622 -1.53104414]
<type 'numpy.ndarray'>
m
0   -1.755018
1    0.160498
2    0.181589
3    0.382277
4    1.098710
dtype: float64

In [10]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0
b    1
c    2
dtype: float64

In [11]:
# NaN (not a number) is the standard missing data marker used in pandas
pd.Series(d, index=['b', 'c', 'd', 'a'])

b     1
c     2
d   NaN
a     0
dtype: float64

In [12]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5
b    5
c    5
d    5
e    5
dtype: float64

In [17]:
s[1:3]

b   -0.572351
c    1.058889
dtype: float64

In [25]:
s[[1,2]]
s

a    0.138659
b   -0.572351
c    1.058889
d   -1.553026
e   -1.531044
dtype: float64

In [34]:
e = s.get('f', np.nan)
type(e)
e

nan

In [39]:
# A key difference between Series and ndarray is that operations between Series automatically align the data based on label. 
np.exp(s)

a    1.148733
b    0.564198
c    2.883166
d    0.211607
e    0.216310
dtype: float64